*.bin
# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Distribution / build
build/
dist/
*.egg-info/

#csv
encrypt_latency_data.csv
decrypt_latency_data.csv

# macOS
.DS_Store

# Editor backup files
*~
#*#
